<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />
    <title>Interactive card details form</title>
    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      .attribution::after {
        content: url(./assets/images/smile.png);
        display: block;
        margin-top: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <main>
        <div class="container__main">
          <div class="container__creditcard">
            <div class="creditcard__front">
              <div class="creditcard__logo">
                <img
                  src="./assets/images/card-logo.svg"
                  alt="logo credit card"
                />
              </div>
              <div class="creditcard__infos">
                <div v-if="number == ''" class="creditcard__num">
                  {{ default__num }}
                </div>
                <div v-else class="creditcard__num">{{ numberClean }}</div>
                <div class="creditcard__name__date">
                  <div v-if="name == ''" class="creditcard__name">
                    {{ default__name }}
                  </div>
                  <div v-else class="creditcard__name">{{ nameClean }}</div>
                  <div
                    v-if="month == '' && year == ''"
                    class="creditcard__date"
                  >
                    {{ default__month }}/{{ default__year }}
                  </div>
                  <div v-else class="creditcard__date">
                    {{ monthClean }}/{{ yearClean }}
                  </div>
                </div>
              </div>
            </div>
            <div class="creditcard__back">
              <div v-if="cvc == ''" class="creditcard__secretnum">
                {{ default__secretnum }}
              </div>
              <div v-else class="creditcard__secretnum">{{ cvcClean }}</div>
            </div>
          </div>
          <div class="container__form">
            <!-- Part complete -->
            <!-- <div class="complete">
              <div class="complete__logo">
                <img
                  src="./assets/images/icon-complete.svg"
                  alt="logo complete"
                />
              </div>
              <div class="complete__thank">Thank you!</div>
              <div class="complete__text">We've added your card details</div>
              <div class="complete__button">
                <button>Continue</button>
              </div>
            </div> -->
            <!-- Part form -->
            <div class="form">
              <form
                @submit.prevent="validForm"
                id="form"
                action=""
                method="post"
              >
                <div class="input__name">
                  <label for="name">Cardholder Name</label>
                  <input
                    v-model="name"
                    type="text"
                    name="name"
                    placeholder="e.g. Jane Appleseed"
                  />
                </div>
                <div class="input__number">
                  <label for="number">Card Number</label>
                  <input
                    v-model="number"
                    :class="showErrors"
                    type="text"
                    name="number"
                    minlength="16"
                    maxlength="16"
                    placeholder="e.g. 1234 5678 9123 0000"
                  />
                  <div class="errors">
                    <span v-if="isNaN(numberClean) && number != ''"
                      >Wrong format, numbers only</span
                    >
                  </div>
                </div>
                <div class="input__expireDate">
                  <label for="expireDate">Exp. Date (MM/YY)</label>
                  <div class="select__expireDate">
                    <input
                      v-model="month"
                      :class="[showErrors, borderRed]"
                      type="text"
                      name="month"
                      id=""
                      maxlength="2"
                      placeholder="MM"
                    />
                    <input
                      v-model="year"
                      :class="[showErrors, borderRed]"
                      type="text"
                      name="year"
                      id=""
                      maxlength="2"
                      placeholder="YY"
                    />
                  </div>
                  <div class="errors">
                    <span v-if="monthError || yearError">Can't be blank</span>
                    <span
                      v-if="monthClean > 12 || (isNaN(monthClean) && month != '') || (isNaN(yearClean) && year != '')"
                      >Incorrect entry</span
                    >
                  </div>
                </div>
                <div class="input__cvc">
                  <label for="cvc">CVC</label>
                  <input
                    v-model="cvc"
                    :class="[showErrors, borderRed]"
                    type="text"
                    name="cvc"
                    minlength="3"
                    maxlength="3"
                    placeholder="e.g. 123"
                  />
                  <div class="errors">
                    <span v-if="cvcError">Can't be blank</span>
                    <span v-if="isNaN(cvcClean) && cvc != ''"
                      >Incorrect entry</span
                    >
                  </div>
                </div>
                <div class="input__confirm">
                  <input type="submit" value="Confirm" />
                </div>
                {{test}}
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="https://primalprod.fr/">Hugo Delbegue</a>.
    </div>
    <script src="./assets/js/app.js" type="module"></script>
  </body>
</html>
