@mixin active_border() {
    // A corriger !!!!!
    // border-width: 2px;
    // border-style: solid;
    // border-image: $linear_gradient__active 1;
    border: 2px solid hsl(278, 94%, 30%);
}

@mixin error_border() {
    border: 2px solid $red__errors;
}

@mixin normal_border() {
    border: 2px solid $light_grayish_violet;
}