// Desktop
$desktopUpScreen: "only screen and (max-width: #{$desktop})";
$desktopDownScreen: "only screen and (max-width: 920px)";
// Mobile
$mobileUpScreen: "only screen and (max-width: 620px)";
$mobileDownScreen: "only screen and (max-width: #{$mobile})";