@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  width: 1440px;
  height: 900px;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px gray;
  overflow: hidden;
}

.container__main {
  min-height: 900px;
  display: flex;
  justify-content: center;
}

.container__creditcard {
  position: relative;
  height: auto;
  width: 35%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.9em;
  color: hsl(0deg, 0%, 100%);
}

.creditcard__front {
  z-index: 1;
  width: 447px;
  height: 245px;
  overflow: hidden;
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 10.5rem;
  left: 10rem;
  padding: 1.5em;
}
.creditcard__front .creditcard__infos {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.creditcard__front .creditcard__num {
  font-size: 1.5em;
  letter-spacing: 0.16em;
}
.creditcard__front .creditcard__name__date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}
.creditcard__front .creditcard__name {
  text-transform: uppercase;
}

.creditcard__back {
  z-index: 1;
  width: 447px;
  height: 245px;
  overflow: hidden;
  background-image: url(../images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10.5rem;
  left: 15rem;
}
.creditcard__back .creditcard__secretnum {
  margin-right: 3rem;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

.container__form {
  position: relative;
  height: auto;
  width: 65%;
  background: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__form .complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.8em;
}
.container__form .complete__thank {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.container__form .complete__text {
  color: hsl(279deg, 6%, 55%);
}
.container__form .complete__button {
  width: 100%;
  margin-top: 1em;
}
.container__form .complete__button button {
  width: 100%;
  background: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  border-color: hsl(278deg, 68%, 11%);
  padding: 0.7em;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
}
.container__form .form {
  width: 20rem;
  position: absolute;
  left: 19rem;
}
.container__form form {
  display: grid;
  grid-template-columns: 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1.3em;
}
.container__form form label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-weight: bold;
  letter-spacing: 0.1em;
}
.container__form form input {
  padding: 0.6em;
  border-radius: 8px;
  border: 2px solid hsl(270deg, 3%, 87%);
  color: hsl(278deg, 68%, 11%);
  font-size: 0.9em;
  cursor: pointer;
}
.container__form form input:focus, .container__form form input:focus-visible {
  outline: 2px auto hsl(278deg, 94%, 30%);
}
.container__form form input[type=text],
.container__form form input[type=number] {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.container__form form input[type=text],
.container__form form input[type=submit],
.container__form form input[type=number] {
  width: 100%;
}
.container__form form .input__name {
  grid-column: 1/3;
  grid-row: 1;
}
.container__form form .input__number {
  grid-column: 1/3;
  grid-row: 2;
}
.container__form form .input__expireDate {
  grid-column: 1/2;
  grid-row: 3;
}
.container__form form .input__expireDate input {
  width: 50%;
}
.container__form form .input__expireDate .select__expireDate {
  display: flex;
  column-gap: 0.5em;
}
.container__form form .input__cvc {
  grid-column: 2/3;
  grid-row: 3;
}
.container__form form .input__confirm {
  grid-column: 1/3;
  grid-row: 4;
  margin-top: 1em;
}
.container__form form .input__confirm input {
  background: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  border-color: hsl(278deg, 68%, 11%);
  padding: 0.7em;
}
.container__form form .errors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.2em;
  color: hsl(0deg, 100%, 66%);
  font-size: 0.7em;
}
.container__form form .errorsInputs {
  border: 2px solid hsl(0deg, 100%, 66%);
}
.container__form form .errorsInputs:focus, .container__form form .errorsInputs:focus-visible {
  outline: 2px solid hsl(0deg, 100%, 66%);
}

/*# sourceMappingURL=style.css.map */
